$secondary-color: #0857a3;
$default-color: #0857a3;
$primary-color: #f2b642;
.alt-services {
  background-color: #f5f6f8;
}
.alt-services .img-bg {
  background-size: cover;
  background-position: center center;
  min-height: 400px;
}

.alt-services h3 {
  font-family: "Cabin", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: var(--color-secondary);
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.alt-services h2 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  color: #2e3135;
}
