$primary-color: #f2b642;
$secondary-color: red;
$background-header-color: #fff;
$color-text: #000;

.top-navbar {
  // background-color:$background-header-color;
  color: $color-text;
}

.top-navbar a {
  color: $color-text;
}

.top-navbar .social-link-icon i {
  color: $color-text;
}

.top-navbar .dropdown a span {
  color: $color-text;
}

.top-navbar .dropdown i {
  color: $color-text;
}


.container-fluid {
  // background-color: #fff;
  max-width: 100% !important;
}



.white-color{
  color: #fff;
}