.privacy-container{
  padding-top: 150px;
  margin-bottom: 40px;
  margin-top: 20px;

  h1, h5 {
    text-transform: uppercase;
  }

  h5 {
    margin-bottom: 0.625rem;
    white-space: pre;
  }

  p {
    margin-bottom: 2px;
  }

  a:hover{
    text-decoration: underline;
    color: var(--color-primary);
  }

  ul {
    padding-left: 1rem;

    li {
      padding-left: 1rem;
    }
  }
}